@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-background;
}

@layer components {
    .btn {
        @apply bg-blue-600 text-white px-3 py-2 rounded-md
    }
    .card {
        @apply p-3 rounded-md bg-white shadow
    }
    .selectable-card {
        @apply shadow hover:shadow-lg transition-shadow ease-in-out duration-500
    }
    .code {
        @apply overflow-x-auto bg-blue-400
    }
}

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
}

@layer base {
    ul, ol {
        list-style: revert;
    }
}